* {
    box-sizing: border-box;
}

div.content {
    background-color: lightblue;
    overflow: auto;
    margin: 5px 0px 5px 0px;;
}

div.content li {
    background-color: blue;
    padding: 0px;
    margin: 0px;
}

div.content p {
    margin-right: 2.5%;
    width: 47.5%;
    border: 2px solid black;
    float: left;
    padding: 10px;
}

p.left {
    background-color: lime;
}

p.right {
    background-color: yellow;
}

a:link, a:visited {
    clear: both;
    text-decoration: none;
    color: black;
    border: 5px outset gray;
    display: block;
    width: 200px;
    background-color: lightgray;
    text-align: center;
    margin-bottom: 2px;
}

a:hover {
    border: 5px outset cyan;
    background-color: lightcyan;
}

a:active {
    color: white;
    border: 5px inset rgb(0,128,255);
    background-color: rgb(0,40,80);
}